<mat-card>
  <mat-card-title>
    Signup
  </mat-card-title>
  <mat-card-subtitle>
    Register new User
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <app-input-box
        [form]="form"
        width="80%"
        type="email"
        path="email"
        placeholder="Email"
      ></app-input-box>

      <app-input-box
        [form]="form"
        width="80%"
        type="password"
        path="password"
        placeholder="Password"
      ></app-input-box>

      <app-input-box
        [form]="form"
        width="80%"
        path="displayName"
        placeholder="Nickname"
      ></app-input-box>

      <app-loader *ngIf="loading"></app-loader>
      <button class="mt-10" mat-raised-button color="primary" [disabled]="form.invalid || form.disabled">Signup</button>
    </form>
  </mat-card-content>
  <p>Back to <a routerLink="/login">login</a></p>
</mat-card>
