@import './../../../../scss/variables';

.messages {
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__wrapper {
    align-self: flex-start;
    margin: 10px;
    word-break: break-word;

    &--outcome {
      align-self: flex-end;
    }
  }

  &__item {
    background: $grey2;
    border-radius: 10px 15px 10px 0;
    color: $grey3;
    display: flex !important;
    height: auto !important;
    padding: 5px 0;

    &--outcome {
      background: $light-blue;
      border-radius: 15px 10px 0 10px;
    }

    &--file {
      max-width: 50%;

      img {
        cursor: pointer;
        margin-left: 0;
        width: 100%;
      }
    }

    &__img {
      align-self: flex-start;
      box-shadow: $box-shadow;
      margin-right: 10px;

      &--outcome {
        margin-left: 10px;
        margin-right: 0;
        order: 1;
      }
    }
  }

  &__date {
    color: $grey4;
    font-size: 0.8em;
    margin: 5px 5px 0;
    text-align: left;

    &--outcome {
      text-align: right;
    }
  }

  &__author {
    color: darken($grey4, 20);
    font-size: 0.85em;
    font-weight: 600;
    margin: 0 0 5px 5px;
  }
}
