<mat-card>
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-subtitle>
    Login to Messenger
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <app-input-box
        [form]="form"
        type="email"
        path="email"
        placeholder="Email"
      ></app-input-box>

      <app-input-box
        [form]="form"
        type="password"
        path="password"
        placeholder="Password"
      ></app-input-box>

      <div class="mt-5">
        <app-loader *ngIf="loading"></app-loader>
        <button class="button mt-10 mb-5" mat-raised-button color="primary" [disabled]="form.invalid || form.disabled">Login</button>
        <div>
          or
        </div>
        <button (click)="onLoginWithGoogle()" type="button" class="mt-5 button button--google" mat-raised-button>Login with Google</button>
      </div>
    </form>
  </mat-card-content>
  <p>Not yet a member? <a routerLink="/register">Click here</a> to register</p>
</mat-card>
