<mat-card>
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-subtitle>
    Login to Messenger
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="input-width" *ngIf="form.get('email') as email">
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Email"
        /><mat-error *ngIf="email.invalid && email.touched">
          <ng-container *ngIf="email.errors['required']">
            Please enter Email.
          </ng-container>
          <ng-container *ngIf="email.errors['email']">
            Please enter valid Email.
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-width" *ngIf="form.get('password') as password">
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password"
        /><mat-error *ngIf="password.invalid && password.touched">
          <ng-container *ngIf="password.errors['required']">
            Please enter Password.
          </ng-container>
          <ng-container *ngIf="password.errors['minlength'] && password.errors['minlength']['requiredLength']">
            Password should be greater than {{ password.errors['minlength']['requiredLength'] }} symbols.
            Now is {{ password.errors['minlength']['actualLength'] }}
          </ng-container>
        </mat-error>
      </mat-form-field>
      <div>
        <button class="mt-5" mat-raised-button color="primary" [disabled]="form.invalid || form.disabled">Login</button>
      </div>
    </form>
  </mat-card-content>
  <p>Not yet a member? <a routerLink="/register">Click here</a> to register</p>
</mat-card>
