@import './../../../scss/variables.scss';

.button {
  width: 80%;

  &--google {
    background: #fff url('./../../../../assets/img/google.svg') no-repeat 50px;
    background-size: 25px;
    border: 1px solid #E0E0E0;
    color: #272727;

    &:hover {
      background-color: #F3F3F3;
    }
  }
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    font-weight: 600;
    text-decoration: underline;
  }
}
