@import './../../scss/variables';

.chat {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
  position: fixed;
  width: 50%;

  &--empty {
    background-attachment: scroll;
    background-image: url('./../../../assets/img/chat.jpg');
    background-size: cover;
    justify-content: center;
  }

  &__title {
    color: $primary;
    font-weight: 700;
    padding: 15px;
  }

  &__user {
    color: $primary;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    width: 90%;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px 0;
    overflow-y: auto;
    width: 100%;
  }

  &__message {
    background: #F2F6F9;
    border-radius: 10px;
    color: #323232;
    display: flex !important;
    font-size: 0.9em;
    height: auto !important;
    margin: 10px;
    padding: 10px 0 !important;
    width: 75% !important;

    &__img {
      box-shadow: $box-shadow;
      margin-right: 5px;

      &--outome {
        margin-left: 5px;
        margin-right: 0;
        order: 1;
      }
    }

    &--outcome {
      align-self: flex-end;
      background: $light-blue;
      justify-content: flex-end;
    }

  }

  app-textbox {
    margin-bottom: 10px;
    width: 90%;
  }

}
