@import './../../scss/variables';

.chat {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
  position: fixed;
  width: 50%;

  &--empty {
    background-attachment: scroll;
    background-image: url('./../../../assets/img/chat.jpg');
    background-size: cover;
    justify-content: center;
  }

  &__title {
    color: $primary;
    font-weight: 700;
    padding: 15px;
  }

  &__user {
    color: $primary;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
    width: 90%;
  }

  &__messages {
    height: 100%;
    overflow-y: auto;
    width: 100%;
  }

  app-textbox {
    margin: 10px 0;
    width: 90%;
  }
}
