<div class="chat" *ngIf="currentUser$ | async as currentUser" [class.chat--empty]="!user && !group">
  <ng-container *ngIf="user || group; else empty">
    <div class="chat__user">
      <ng-container *ngIf="user">
        {{ user.displayName }}
      </ng-container>
      <ng-container *ngIf="group">
        {{ group.name }}
      </ng-container>
      <mat-divider class="mt-5"></mat-divider>
    </div>
    <div
      *ngIf="!loader"
      #scroll
      class="chat__messages scrollbar"
      scrollViewport
      infiniteScroll
      [scrollWindow]="false"
      [infiniteScrollUpDistance]="2"
      [infiniteScrollThrottle]="200"
      (scrolledUp)="onGetMoreMessages()">

      <app-messages [messages]="messages" [currentUser]="currentUser" [userPhotoUrl]="user?.photoURL"></app-messages>
    </div>
    <app-loader *ngIf="loader"></app-loader>
    <app-textbox (fileUpload)="onFileUpload($event)" (sendMessage)="onSendMessage($event)"></app-textbox>
  </ng-container>
  <ng-template #empty>
    <div class="chat__title">
      Please select a chat to start messaging
    </div>
  </ng-template>
</div>
