@import './variables';

body {
  margin: 0;
  padding: 0;

  .lb-data {

    .lb-close {
      display: none;
    }

    .lb-caption {
      font-size: 1.5em;
    }

    .lb-details {
      text-align: center;
      width: 100%;
    }
  }

  .add-friend,
  .requests {
    .mat-list-item-content {
      padding: 0 !important;
    }
  }

  .mat-expansion-indicator::after {
    color: $primary;
  }

  .mat-list-base {
    padding-top: 0;
  }

  .add-friends-panel,
  .requests-panel {
    .mat-expansion-panel-body {
      padding-right: 8px;
    }
  }

  .friends-panel {
    .mat-expansion-panel-body {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: $grey;
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: $grey;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $primary;
    height: 15%;
  }

  .scroll-y {
    overflow-y: scroll !important;
  }
}
