<mat-accordion multi="true">

  <mat-expansion-panel expanded="true" class="no-drag">
    <mat-expansion-panel-header>
      Friend Information
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-friend-details [user$]="friend$" (closeChat)="onCloseChat()" (call)="onCall($event)" (removeFriend)="onRemoveFriend($event)"></app-friend-details>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true" class="no-drag">
    <mat-expansion-panel-header>
      Group Information
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-group-details
        [group$]="group$"
        (changeImage)="onChangeImage($event)"
        (closeGroup)="onCloseGroup()"
        (removeGroup)="onRemoveGroup()"
      ></app-group-details>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle="true" class="notifications-panel no-drag">
    <mat-expansion-panel-header class="notifications">
      Notifications
      <ng-container *ngIf="notifications$ | async as length">
        <mat-icon *ngIf="length > 0" [matBadge]="length" matBadgeColor="warn">notification_important</mat-icon>
      </ng-container>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <app-notifications
        [user$]="friend$"
        (selectNotification)="onSelectNotification($event)"
      ></app-notifications>
    </mat-panel-description>
  </mat-expansion-panel>

</mat-accordion>
