<div class="textbox">
  <emoji-mart class="emoji-mart" perLine="10" set="emojione" (emojiSelect)="onAddEmoji($event)" *ngIf="showEmojiPicker"></emoji-mart>
  <div class="textbox__wrapper">
    <mat-icon class="emoji-icon"  color="primary" (click)="toggleEmojiPicker()">{{ showEmojiPicker ? 'keyboard_arrow_down' : 'mood' }}</mat-icon>

    <mat-form-field class="chat-input">
      <mat-label>Type a message</mat-label>
      <textarea
        [maxlength]="maxLength"
        class="scrollbar"
        (keyDown.enter)="onSendMessage($event)"
        [(ngModel)]="message"
        matInput
        cdkTextareaAutosize
        #field
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5">
      </textarea>
      <mat-hint [class.red]="field.value.length === maxLength" align="end">{{ field.value.length }}/{{ maxLength }}</mat-hint>
    </mat-form-field>

    <button mat-icon-button (click)="fileInput.click()">
      <mat-icon color="primary">attach_file</mat-icon>
    </button>

    <input #fileInput type="file" (change)="onFileUpload(fileInput.files[0])" style="display: none;">

    <button mat-icon-button (click)="onSendMessage()">
      <mat-icon color="primary">send</mat-icon>
    </button>
  </div>
</div>
