<ng-container *ngIf="user$ | async as user; else empty">
  <div class="profile" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
      <img class="profile__img" [src]="user.photoURL" alt="" (click)="onImgClick(user)">
      <h3 class="profile__title">{{ user.displayName }}</h3>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <app-loader *ngIf="loader"></app-loader>
    <ng-container *ngIf="!loader">
      <span matTooltip="Call" class="mr-5">
        <button mat-mini-fab color="primary" (click)="onCall(user)">
          <mat-icon aria-hidden="true">video_call</mat-icon>
        </button>
      </span>
      <span matTooltip="Close Chat" class="mr-5">
        <button mat-mini-fab color="warn" (click)="onCloseChat()">
          <mat-icon aria-hidden="true">close</mat-icon>
        </button>
      </span>
      <span matTooltip="Remove Friend">
        <button mat-mini-fab color="warn" (click)="onRemoveFriend(user)">
          <mat-icon aria-hidden="true">delete_forever</mat-icon>
        </button>
      </span>
    </ng-container>
  </div>
</ng-container>

<ng-template #empty>
  Please select a friend for chatting
</ng-template>
