@import './../../../../scss/variables';

.friends {
  overflow-x: hidden;
  overflow-y: auto;

  &__list {
    max-height: $panel-max-height;

    &__item {
      transition: .3s;

      &--selected,
      &:hover {
        background: darken($grey, 5);
        cursor: pointer;
      }

    }
  }

  &__title {
    align-items: center;
    display: flex !important;
  }

  &__img {
    margin-left: 24px;
  }

  &__presence {
    background: $danger;
    border-radius: 50%;
    height: 10px;
    margin-left: 7px;
    width: 10px;

    &.online {
      background: lawngreen;
    }
  }
}
