<ng-container *ngIf="group$ | async as group; else empty">
  <div class="group" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
      <img *ngIf="!loading" class="group__img" (click)="onGroupClick(group)" [src]="group.image" alt="">
      <app-loader *ngIf="loading"></app-loader>
      <h3 class="group__title">{{ group.name }}</h3>
    </div>
  </div>
  <div class="group__buttons">
    <span matTooltip="Members">
      <button mat-mini-fab color="primary" (click)="onOpenMembers()">
        <mat-icon aria-hidden="true">group_add</mat-icon>
      </button>
    </span>
    <span matTooltip="Close Group">
      <button mat-mini-fab color="warn" (click)="onCloseGroup()">
        <mat-icon aria-hidden="true">close</mat-icon>
      </button>
    </span>
    <ng-container *ngIf="isOwner(group)">
      <span matTooltip="Change Photo">
        <button mat-mini-fab color="primary" (click)="fileInput.click()">
          <mat-icon aria-hidden="true">perm_contact_calendar</mat-icon>
        </button>
      </span>
      <span matTooltip="Remove Group">
        <button mat-mini-fab color="warn" (click)="onRemoveGroup()">
          <mat-icon aria-hidden="true">delete_forever</mat-icon>
        </button>
    </span>
    </ng-container>

    <input #fileInput type="file" (change)="onImageChange(fileInput.files[0])" style="display: none;">
  </div>
</ng-container>

<ng-template #empty>
  Please select a group
</ng-template>
